*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;

}
h1, h2, h3, h4{
    background color:black;
    color:white;
    padding:20px;
    margin:30px;
}
html{
    scroll-behavior: smooth;
}
table{
    
    
    
}
tr{
    margin: 10px;
}
th, td{
    padding: 10px;
    margin: 28px 18px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    
    
}
th{
    background-color: burlywood;
}
td{
    background-color: blueviolet;
}
